@using HwaTec.Blog.Model
@model IQueryable<Article>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <div class="layui-btn-group btn-operation">
            @*<button class="layui-btn" data-type="getCheckData">获取选中行数据</button>*@
            <button class="layui-btn" data-type="deleteSelectAll">删除选中的</button>
            @*  <button class="layui-btn" data-type="isAll">验证是否全选</button>*@
        </div>
        <table lay-filter="article-table" id="articleTable">
            <thead>
                <tr>
                    <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
                    <th lay-data="{field:'id', width:100}">Id</th>
                    <th lay-data="{field:'title', width:500}">标题</th>
                    <th lay-data="{field:'create_time', minWidth: 180}">创建时间</th>
                    <th lay-data="{field:'modify_time', minWidth: 180}">修改时间</th>
                    <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#article-bar'}">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in Model)
                {
                    <tr>
                        <td></td>
                        <td>@article.Id</td>
                        <td>@article.Title</td>
                        <td>@article.CreateTime</td>
                        <td>@article.ModifyTime</td>
                    </tr>
                }
            </tbody>
        </table>

        <script type="text/html" id="article-bar">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
    </div>
</div>

<script>

    layui.use('table', function () {
        var table = layui.table;


        table.init('article-table', { //转化静态表格
            //height: 'full-500'
        });

        //监听工具条
        table.on('tool(article-table)', function (obj) {
            var row = obj.data;
            if (obj.event === 'detail') {
                window.location.href = "/Home/Details?id=" + row.id;
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        type: 'POST',
                        url: '/Admin/Article/Delete',
                        data: { ids: row.id },
                        success: function (data) {
                            console.log(data);
                            if (data == "ok") {
                                obj.del();
                                layer.close(index);
                            }
                        },
                        //dataType: 'JSON'
                    });
                });
            } else if (obj.event === 'edit') {
                window.location.href = "/Admin/Article/Update?id=" + row.id;
            }
        });

        var $ = layui.$, active = {
            deleteSelectAll: function () { //批量删除
                var checkStatus = table.checkStatus('articleTable');
                data = checkStatus.data;
                if (data.length <= 0)
                    return;
                var list = [];

                for (var i = 0; i < data.length; i++) {
                    list[i] = data[i].id;
                }
                layer.confirm('确定删除这' + data.length + '列吗?', function () {
                    $.ajax({
                        type: 'POST',
                        url: '/Admin/Article/Delete',
                        data: { ids: list },
                        success: function (data) {
                            if (data == "ok") {
                                window.location.href = "/Admin/Home";
                            }
                        },
                        //dataType: 'JSON'
                    });
                });
            }
        };

        $('.btn-operation .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>