@model HwaTec.Blog.Model.Article
@{
    ViewData["Title"] = "Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <article class="am-article blog-article-p">
            <div class="am-article-hd">
                <h1 class="am-article-title blog-text-center">@Model.Title</h1>
                <p class="am-article-meta blog-text-center">
                    <span><a href="#" class="blog-color">文章 &nbsp;</a></span>-
                    <span><a href="#">@Model.CreateId</a></span>-
                    <span><a href="#">@Model.CreateTime</a></span>
                </p>
            </div>
            <div class="am-article-bd">
                <img src="~/Assets/i/f17.jpg" alt="" class="blog-entry-img blog-article-margin">
                <p class="class=" am-article-lead"">
                    @Model.Content
                </p>
            </div>
        </article>
 