@model HwaTec.Blog.Model.Article
@{
    ViewData["Title"] = "Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="blogitem">
    <article>
        <h2 class="title">@Model.Title</h2>
        <ul class="text">
            @Html.Raw(Model.Content)
        </ul>
        <div class="textfoot">
            <a href="#">评论</a><a href="#">转载</a>
        </div>
    </article>
</div>
