@model IEnumerable<HwaTec.Blog.Model.Article>

@{
    ViewData["Title"] = "Index";
}
<style>
    .text {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:16px;
    }
</style>
<div class="blogitem">
    @foreach (var article in Model)
    {
        <article>
            <h2 class="title"><a href="/Home/Details?id=@article.Id">@article.Title</a></h2>
            <ul class="text">
                <p>
                    @Html.Raw(article.Synopsis)
                </p>
            </ul>
            <div class="textfoot">
                <a href="/Home/Details?id=@article.Id">阅读全文</a>
            </div>
        </article>
    }
    <div class="pages"><span>1</span><a href="/" hidefocus="">2</a><a href="/" hidefocus="">3</a><a href="/" class="next">下一页&gt;&gt;</a></div>
</div>